:root{
    --slideshow-text-color: #ffffff;
    --main_color:#F97F51;
}
body{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
/*轮播图模块-start*/
ul.slides{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
}
li.slide{
    /*float: left;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}
ul li.slide img{
    width: 100%;
    height: 100%;
}
.slide:nth-of-type(2){
    left: 100%;
}
.slide:nth-of-type(3){
    left: 200%;
}
input[type="radio"]{
    position: relative;
    z-index: 100;
    display: none;
}
.controls-visible{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
}
.controls-visible label{
    display: inline-block;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 8px;
    border: 2px solid #ffffff;
}
/*首先加入.slides input[type="radio"]:nth-of-type(1):checked判断当第一个radio按钮是已选择的状态时，加入~符号，找它同一层之后，
.controls-visible里面的label:nth-of-type(1)，选择到第一个label*/
.slides input[type="radio"]:nth-of-type(1):checked~.controls-visible label:nth-of-type(1){
    background-color: #333;
}
.slides input[type="radio"]:nth-of-type(2):checked~.controls-visible label:nth-of-type(2){
    background-color: #333;
}
.slides input[type="radio"]:nth-of-type(3):checked~.controls-visible label:nth-of-type(3){
    background-color: #333;
}
/*当选中了第一个radio按钮之后，后面三张.slide的样式*/
.slides input[type="radio"]:nth-of-type(1):checked~.slide{
    transform: translateX(0%);
}
.slides input[type="radio"]:nth-of-type(2):checked~.slide{
    transform: translateX(-100%);
}
.slides input[type="radio"]:nth-of-type(3):checked~.slide{
    transform: translateX(-200%);
}
/*第一张图文字*/
ul li.slide .introduction1{
    position: absolute;
    left: 15%;
    top: 30%;
}
ul li.slide h3{
    color: var(--slideshow-text-color);
    font-size: 60px;
}
ul li.slide h4{
    color: var(--slideshow-text-color);
    font-size: 30px;
    font-weight: normal;
    padding-top: 15px;
    text-align: center;
}
ul li.slide a{
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 60px 160px;
    font-size: 16px;
    color: var(--slideshow-text-color);
    border: 1px solid var(--slideshow-text-color);
    text-align: center;
    line-height: 50px;
}
/*第二张图文字*/
ul li.slide .introduction2{
    position: absolute;
    width: 900px;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,.3);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
/*轮播图模块-end*/
/*首页产品模块-start*/
.module_solution_title, .news_total_title{
    margin-top: 80px;
    text-align: center;
}
.module_solution_title h2, .news_total_title h2{
    font-size: 30px;
}
span.divider_line{
    /*margin-top: -40px;*/
    color: var(--main_color);
    font-weight: bolder;
    font-size: 35px;
}
.module_solution_title p{
    color: #9c9c9c;
    font-size: 14px;
    line-height: 2em;
}
.module_solution_content{
    margin-top: 20px;
}
.module_solution_content div{
    overflow: hidden;
    position: relative;
    margin: 30px 0;
    width: 100%;
    height: 600px;
}
/*背景动画*/
@keyframes kenburns-top-right {
    0% {
        transform: scale(1) translate(0, 0);
        transform-origin: 84% 16%;
    }
    100% {
        transform: scale(1.25) translate(20px, -15px);
        transform-origin: right top;
    }
}
.module_solution_content div img{
    width: 100%;
    height: 100%;
    animation: kenburns-top-right 5s ease-out both;
}
.module_solution_content div .content_description{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 450px;
    height: 360px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}
.module_solution_content div .content_description img{
    margin-top: 50px;
    width: 45px;
    height: 40px;
    animation: none;
}
.content_description h4,.algorithm_introduction,a{
    color: var(--slideshow-text-color);
}
.content_description h4{
    margin: 30px 0 20px 0;
    font-size: 20px;
    font-weight: normal;
}
.content_description p{
    line-height: 2em;
    font-size: 14px;
}
.content_description a{
    margin-top: 35px;
    display: inline-block;
    width: 80px;
    height: 40px;
    border-bottom: 1px solid var(--main_color) ;
    font-size: 16px;
}
/*首页产品模块-end*/
/*首页新闻模块*/
.index_news{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*padding: 10px;*/
}
.index_news .news_card{
    float: left;
    /*margin-top: 20px;*/
    position: relative;
    max-width: 460px;
    height: 215px;
    background: #fff;
    margin-right: 80px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
}
.index_news .news_card:hover{
    height: 300px;
}
.index_news .news_card .news_img{
    position: relative;
    width: 360px;
    height: 200px;
    top: -60px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.index_news .news_card .news_img img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.index_news .news_card .news_content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition:all .3s ease-in-out;
}

.index_news .news_card:hover .news_content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay:.3s;
}
.news_content .news_content_title{
    font-size: 18px;
}
.news_content .news_content_date{
    margin-top: 20px;
    font-size: 14px;
}





